{% extends 'layout.html' %}

{% block title %}
Book
{% endblock %}

{% block body %}
    <h1>{{ book.title }} ({{ book.year }})</h1>
    <div id="goodreads-widget">
      <div id="gr_header"><h1><a rel="nofollow" href="{{ link }}">{{ book.title }} Reviews</a></h1></div>
      <iframe id="the_iframe" src="https://www.goodreads.com/api/reviews_widget_iframe?did=DEVELOPER_ID&amp;format=html&amp;isbn={{ book.isbn }}&amp;links=660&amp;min_rating=&amp;review_back=fff&amp;stars=000&amp;text=000" width="565" height="400" frameborder="0"></iframe>
      <div id="gr_footer">
        <a class="gr_branding" target="_blank" rel="nofollow" href="{{ link }}?utm_medium=api&amp;utm_source=reviews_widget">Reviews from Goodreads.com</a>
      </div>
    </div>
{% endblock %}