{% extends 'layout.html' %}

{% block title %}
    Sign-Up
{% endblock %}

{% block body %}
    <div class="login-form">
        <form method="post" action="{{ url_for('signup') }}" class="form-horizontal">
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Username" name="username" required>
        </div>
        <div class="form-group">
            <input class="form-control" type="password" placeholder="Password" name="password" required>
        </div>
            <div class="form-group">
            <input class="form-control" type="password" placeholder="Retype Password" name="retype_password" required>
        </div>
            <input class="btn btn-primary" type="submit">
        </form>
    </div>
{% endblock %}